{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% block content %}
    <div class="container my-5">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Welcome To My Blog</h1>
                <p class="col-md-8 fs-4">I welcome all of you to my Blog. I created 
                    this Blog for myself and I will write posts about my progressing
                    in learning new technology as i am a student of computer science.
                </p>
            </div>
        </div>
        <div class="container">
        <h2>Latest Posts</h2>
        {% for post in posts %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <a href="/details/{{ post.id }}" class="btn btn-primary">Read Post</a><br>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
    {% endblock %}
</body>

</html>